@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<TaskManagement.Models.UserModel>

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="UserCreate" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @* <th>Id</th> *@
            <th>User Name</th>
            <th>Contact No</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>@item.Id</td> *@
                <td>@item.Name</td>
                <td>@item.Contact</td>
                <td>
                    <a asp-action="UserEdit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="UserDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="UserDelete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>