@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




@model IEnumerable<TaskManagement.Models.DepartmentModels>

@{
    ViewData["Title"] = "Department Information";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="DepartmentCreate" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @* <th>Id</th> *@
            <th>Department Name</th>
            <th>Section</th>
            <th>Faculty</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>@item.Id</td> *@
                <td>@item.DepartmentName</td>
                <td>@item.Section</td>
                <td>@item.Faculty</td>
                <td>@item.Subject</td>
                <td>
                    <a asp-action="DepartmentEdit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="DepartmentDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="DepartmentDelete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>